* {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  width: 100%;
  height: 67px;
}

textarea#title {
  display:inline-block;
  width: 60%;
  height: 32px;
  padding: 0.6em 0 0 0.3em;
  resize: none;
  height: auto;
  border: none;
  background-color: lightgrey;
  color: #333333;
}

textarea#tags {
  display:inline-block;
  width: 60%;
  height: 15px;
  padding: 0.6em 0 0 0.3em;
  height: auto;
  border: none;
  resize: none;
  background-color: grey;
  color: #333333;
}

#function-btn {
  position: absolute;
  top: 0;
  padding: 0.5em;
  width: 35%;
  height: 67px;
  display:inline-block;
}
