div.post
  div.close-post
    p X
  h3
   = post.title
  span.date #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
  ul.tags
    - each tag in post.tags
      li
        a(href=tagUrl(tag))
          = tag
  blockquote
    = post.description
  .preview
    != post.preview
  .content
    != post.content
