<!DOCTYPE html>
<html>
  <head>
    <title>EpicEditor - An embeddable JavaScript Markdown editor</title>
    <meta name="description" content="EpicEditor is an embeddable JavaScript Markdown editor with split fullscreen editing, live previewing, automatic draft saving, offline support, and more.">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:400,400italic' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div id="epiceditor">
      <button style="position:fixed;" id="save">Save</button>
    </div>
    <textarea style="display:none;" id="result"></textarea>
  <script src="epiceditor/prettify.js"></script>
  <script src="epiceditor/epiceditor.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
  var socket = io();

  var opts = {
  container: 'epiceditor',
  textarea:'result',
  basePath: 'epiceditor',
  clientSideStorage: true,
  localStorageName: 'epiceditor',
  useNativeFullscreen: false,
  parser: marked,
  file: {
    name: 'epiceditor',
    defaultContent: '',
    autoSave: 100
  },
  theme: {
    base: '/themes/base/epiceditor.css',
    preview: '/themes/preview/preview-dark.css',
    editor: '/themes/editor/epic-dark.css'
  },
  button: {
    preview: true,
    fullscreen: true,
    bar: "auto"
  },
  focusOnLoad: false,
  shortcut: {
    modifier: 18,
    fullscreen: 70,
    preview: 80
  },
  string: {
    togglePreview: 'Toggle Preview Mode',
    toggleEdit: 'Toggle Edit Mode',
    toggleFullscreen: 'Enter Fullscreen'
  },
  autogrow: false
}
var editor = new EpicEditor(opts).load();
editor.on("load", editor.enterFullscreen());
editor.on("load", checkFile);

function checkFile(){
  var files = editor.getFiles();
  for (x in files) {
    console.log('File: ' + x); //Returns the name of each file
  };
}

function getFormattedDate() {
  var today = new Date();
 var dd = today.getDate();
 var mm = today.getMonth()+1; //January is 0!

 var yyyy = today.getFullYear();
 if(dd<10){
     dd='0'+dd
 }
 if(mm<10){
     mm='0'+mm
 }
 var today = mm+'-'+dd+'-'+yyyy;
 return today;
}

function saveFile(){
  var content = editor.exportFile();
  var tr = "NewEditor",
      tg = "EpicEditor,new",
      tags = tg.split(',');


  var desc = {
    title: tr,
    tags: tags,
    date: getFormattedDate()
  };

  console.log(content);

  if(desc.title && desc.tags) {
    socket.emit("save", desc, content);
  } else {
    alert("No content to save");
  }
}

var saveButton = document.getElementById("save");

saveButton.addEventListener("click", saveFile);
  </script>
</body>
</html>
