<!DOCTYPE html>
<html>
  <head>
    <title>EpicEditor - An embeddable JavaScript Markdown editor</title>
    <meta name="description" content="EpicEditor is an embeddable JavaScript Markdown editor with split fullscreen editing, live previewing, automatic draft saving, offline support, and more.">

  </head>
  <body>
    <header>
      <textarea id="title" placeholder="Title"></textarea>
      <textarea id="description" placeholder="description"></textarea>
      <textarea id="tags" placeholder="tag1,tag2"></textarea>
      <div id="function-btn">
        <button id="save">Save</button>
      </div>
    </header>
    <div id="epiceditor">
    </div>
    <textarea style="display:none;" id="result"></textarea>
  <script src="epiceditor/prettify.js"></script>
  <script src="epiceditor/epiceditor.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="javascript/UI.js"></script>
  <script>
  var opts = {
  container: 'epiceditor',
  textarea:'result',
  basePath: 'epiceditor',
  clientSideStorage: true,
  localStorageName: 'epiceditor',
  useNativeFullscreen: false,
  parser: marked,
  file: {
    name: 'epiceditor',
    defaultContent: '',
    autoSave: 100
  },
  theme: {
    base: '/themes/base/epiceditor.css',
    preview: '/themes/preview/preview-dark.css',
    editor: '/themes/editor/epic-dark.css'
  },
  button: {
    preview: true,
    fullscreen: true,
    bar: "auto"
  },
  focusOnLoad: false,
  shortcut: {
    modifier: 18,
    fullscreen: 70,
    preview: 80
  },
  string: {
    togglePreview: 'Toggle Preview Mode',
    toggleEdit: 'Toggle Edit Mode',
    toggleFullscreen: 'Enter Fullscreen'
  },
  autogrow: false
  }

  var editor = new EpicEditor(opts).load();
  editor.on("load", editor.enterFullscreen());
  editor.on("load", checkFile);
  </script>

</body>
</html>
